[Desktop Entry]
Name=JuxDeco
X-KDE-PluginInfo-Author=Juxtopposed
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=juxtopposed.contact@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL v3
X-KDE-PluginInfo-Name=JuxDeco
X-KDE-PluginInfo-Version=1.0
